<div class="col-md-3" id="post_meta">
    <!-- 时间信息 -->
    <!-- Date info-->
    <% if (item.date) { %>
        <div class="meta-widget">
            <i class="fa fa-clock-o"></i>
            <%= item.date.format(config.date_format) %>
        </div>
    <% } %>
    <!-- 分类信息 -->
    <!-- Categories info -->
    <% if (item.categories  && item.categories.length) { %>
        <div class="meta-widget">
            <a data-toggle="collapse" data-target="#categorys">
                <i class="fa fa-folder"></i>
            </a>
            <ul id="categorys" class="tag_box list-unstyled collapse in">
                <%- partial("category") %>
            </ul>
        </div>
    <% } %>
    <!-- 标签信息 -->
    <!-- Tag info-->
    <% if (item.tags && item.tags.length) { %>
        <div class="meta-widget">
            <a data-toggle="collapse" data-target="#tags">
                <i class="fa fa-tags"></i>
            </a>
            <ul id="tags" class="tag_box list-unstyled collapse in">
                <%- partial("tag") %>
            </ul>
        </div>
    <% } %>
    <!-- 目录信息 -->
    <!-- TOC info -->
    <div class="meta-widget meta-toc" data-spy="affix" data-offset-top="400">
        <% if (item.toc) { %>
            <a data-toggle="collapse" data-target="#toc">
                <i class="fa fa-bars"></i>
            </a>
            <div id="toc" class="toc collapse in" >
                <%- toc(item.content, { class:"toc-article", list_number:false }) %>
            </div>
            <script type="text/javascript">
                var tocHeight = $("#toc").height();
                if (tocHeight >= 500) {
                    $("#toc").css({
                        "height": "500px",
                        "overflow": "scroll"
                    });
                }
            </script>
        <% } %>
    </div>
    <hr>
</div>
