<div class="page-header <% if (theme.appearance.inverse) { %>page-header-inverse<% } %>">
    <h1 class="title <% if (theme.appearance.inverse) { %>title-inverse<% } %>"><% if (config.subtitle) { %><%= config.subtitle %><% } else { %><%= config.title %><% } %></h1>
</div>

<%- partial("_partial/index", { index:true }) %>
